.bx--data-table tbody tr td.green {
  color: #00e676 !important;
  font-weight: bold !important;
}

.bx--data-table tbody tr td.red {
  color: #ff1744 !important;
  font-weight: bold !important;
}

.bx--data-table tbody tr td.yellow {
  color: #ffea00 !important;
  font-weight: bold !important;
}